<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="root">
        <span>firstname</span>
        <input type="text" v-model="firstName">
        <br>
        <br>
        <span>lastname</span>
        <input type="text" v-model="lastName" >
        <br>
        <span>fullName:{{showInfo()}}</span>
    </div>
    <script>
        Vue.config.productionTip = false;
        const vm = new Vue({
            data(){
                return{
                    firstName:'albert',
                    lastName:'Hunag'
                }
            },
            methods: {
                showInfo(e){
                    console.log(`@@@@@`)
                   return `${this.firstName}  ${this.lastName}`
                }
            },
        })
        vm.$mount('#root')
    </script>
</body>
</html>